* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: aliceblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#signup-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin: 5px 0;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0d77be;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0a51b3;
}

#bio {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}
.link li {
  list-style: none;
}
.link li a {
  color: grey;
  text-decoration: none;
}
.link li a:hover {
  color: rgb(93, 141, 244);
  text-decoration: underline;
}
.link {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin: 5px 0;
}

/* style for forgotPassword form  */
#login-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
}
.logIn {
  margin: 7px 0;
}
